@font-face {
    font-family: 'Allura', cursive;
    font-family: 'Sacramento', cursive;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #fefefe;
}

a{
    font-family: roboto, Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-weight: 300;
    font-style: normal;
}

text {
    font-family: roboto, pingfang, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6px;
    text-anchor: middle;
    letter-spacing: -0.1px;
}

#float-window strong {
    font-weight: 500;
    margin: 5px 0;
    font-size: 12px;
}

#float-window strong::before{
    content: " - ";
}

#float-window strong::after{
    content: " - ";
}
#cover-content{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#load-pic{
    width : 10vw;
    height: 10vw;
    margin-bottom: 20px;
}

#load-text{
    text-align: center;
}

#content{
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 500ms ease 0s;
    width: 100%;
    height: 100%;
}

#top{
    background-image: linear-gradient(-135deg, #ff935c, #fb406c);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    border: 16px solid #fefefe;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#nav-bar{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    max-width: 1200px;
    padding: 0 55px;
}

#page-title {
    display: block;
    margin: 0 30px;
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 3px;
}

#nav-bar a{
    color: white;
}

#nav-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 120px;
    width: 200px;
}

#mid {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    max-width: 1200px;
}

#self {
    width: 50vh;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

#hi {
    font-family: 'Allura';
    font-size: 250px;
    color: #fff
}

#welcome {
    font-size: 15px;
    color: #eee
}

#img-cover {
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-image: url('../image/avatar.jpg');
    background-color: rgba(26,26,26,.15);
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    box-shadow: 1px 3px 7px rgba(26,26,26,.15);
}

#avatar {
    height: 100%;
	width: auto;
	left:50%;
	position: relative;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mid-content{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: center;
}

.cover{
    opacity: 1;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms ease;
}

.button{
    display: block;
    text-decoration: none;
    transition: all 200ms ease 0s;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-left: 30px;
    padding: 15px 30px;
    cursor: pointer;
    border: 1px solid transparent;
    box-sizing: content-box;
}

.button:hover {
    border: 1px solid white;
}

.top-cover {
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
}

.svg-banner-shape {
    z-index: 105;
    fill: white;
    
}
.block {
    position: relative;
    box-sizing: content-box;
    margin: 10px;
    width: 542px;
    min-width: 345px;
    background: white;
    box-shadow: 0 1px 5px rgba(26,26,26,.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #eee;
}

.block-date {
    position: absolute;
    height: 100px;
    width: 80px;
    top:15px;
    left: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.block-date a{
    display: block;
    flex-grow: 1;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.day {
    line-height: 60px;
    height: 60px;
    font-weight: 500;
    font-size: 28px;
}

.month {
    border-top: 1px solid #ddd;
    height: 40px;
    line-height: 38px;
    letter-spacing: 2px;
    font-size: 10px;
    text-transform: uppercase;
}

.date-color-bar {
    position: absolute;
    width: 3px;
    height: 30px;
    left: -2px;
    top: 15px;
    background: linear-gradient(-135deg, #ff935c, #fb406c);
}

.block-title{
    font-size: 18px;
    font-weight:500;
    display: block;
    height: 105px;
    width: 100%;
    padding: 10px 5px 10px 105px;
    box-sizing: border-box;
    color: #162b40
}

.block-description {
    display: flex;
    height: 20px;
    width: 100%;
    padding-left: 95px;
    box-sizing: border-box;
    align-items: center;
}

.block-description a{
    font-size: 12;
    color: #aaa;
    margin-right: 5px;
}

.description-icon {
    margin-right: 4px;
}

.tag .view{
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.tag a {
    font-size: 12;
    color: #aaa;
    margin-right: 5px;
}

.tag-icon {
    height: 13px;
}

.view-icon {
    height: 16px;
}

.comment-icon {
    height: 15px;
}

.block-summary{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    color: #333;
    padding: 10px 20px 5px 20px;
    max-height: 35vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-summary img {
    max-width: 100%;
    margin: 20px 0
}

.block-summary a {
    margin: 5px 0;
    color: #333;
}

.redirect-button{
    align-self: flex-end;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    line-height: 38px;
    display: block;
    align-text: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 15px 15px;
    transition: all 350ms cubic-bezier(0, 0, 0.38, 1.04) 0s;
    cursor: pointer;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
}

.redirect-button:hover {
    color: #fc5a67;
    border: 1px solid #ff8560;
    width: 140px;
}