<html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://use.typekit.net/wnd0asw.css">
        <link rel="stylesheet" href="../static/css/default.css">
        <link href="https://fonts.googleapis.com/css?family=Allura|Sacramento&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../static/js/default.js"></script>
        <title>Home</title>
    </head>

    <body>
        <div class="cover">
            <div id="cover-content">
                <img id="load-pic"
                    src="https://assets.website-files.com/59a3ba84fdd0390001e12581/59ae781a7353c5000177a0ec_preloader.svg">
                <a id="load-text">Loading Page<br>正在加载页面</a>
            </div>
        </div>
        <div id="content">
            <div id="top">
                <div id="nav-bar">
                    <a id="page-title">Glog</a>
                    <div id="nav-buttons">
                        <a class="button">HOME</a>
                        <a class="button">CONTACT</a>
                    </div>
                </div>
            </div>
            <div id="mid">
                <div id="self">
                    <a id = 'hi'>Hi</a>
                    <a id = 'welcome'>I'm George<br>Welcome to my Blog</a>
                    <!--id = 'img-cover'-->
                </div>
                <div id="mid-content">
                    <div class='block' v-for="(block, index) in blocks" :id="'b'+index">
                        <block-date
                                :day = 'block.day'
                                :month = 'block.month'
                        ></block-date>
                        <block-title
                                :title = 'block.title'
                        ></block-title>
                        <a class='block-summary' v-html=block.content></a>
                        <a class='redirect-button'>完整文章 🡢</a>
                    </div>
                    <div class="block" v-if="blocks.length % 2 != 0" style="opacity:0"></div>
                </div>
            </div>
        </div>
        <script>
        </script>
    </body>

</html>